/* contact page */
/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
	font-size: 50px;
	line-height: 64px;
	color: #222;
}

h2{
	font-size: 46px;
	line-height: 54px;
	color: #222;
}

h4{
	font-size: 20px;
	color: #222;
}

h6{
	font-weight: 700;
	font-size: 12px;
}

p{
	font-size: 16;
	color: #465b52;
	margin: 15px 0 20px 0;
}

.section-p1{
	padding: 40px 80px;
}

.section-m1{
	margin: 40px 0;
}
:root{
--main-color:#fd4646;
--text-color:#171427;
--bg-color:#fff;
}


body{
    color: var(--text-color);
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

section{
padding: 4rem 0 3rem;
}

/* header */
header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15%/10%);
    z-index: 100;
}
.nav{
    
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 0;
}

.logo{
    font-size: 1.1rem;
    color:var(--text-color);
    font-weight: 400;
}
#cart-icon{
    font-size: 1.8rem;
    cursor: pointer;
}
/* cart */
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15%/10%);
    transition: 0.3s;

}
.cart.active{
    right: 0;
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;

}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

}
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: 0.5rem;
}
.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: 0.5rem;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

#page-header{
	background-image: url("b3.jpg");
	width: 100%;
	height: 50vh;
	background-size: cover;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	padding: 14px;
}

#page-header h2,
#page-header p{
	color: #fff;
}

#contact-details{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#contact-details .details{
	width: 40%;
}

#contact-details .details span,
#form-details form span{
	font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
	font-size: 26px;
	line-height: 35px;
	padding: 20px 0;
}

#contact-details .details h3{
	font-size: 16px;
	padding-bottom: 15px;
}

#contact-details .details li{
	list-style: none;
	display: flex;
	padding: 10px 0;
}

#contact-details .details li i{
	font-size: 14px;
	padding-right: 22px;
}

#contact-details .details li i p{
	margin: 0;
	font-size: 14px;
}

#contact-details .map{
	width: 55%;
	height: 400px;
}

#contact-details .map iframe{
	width: 100%;
	height: 400px;
}

#form-details{
	display: flex;
	justify-content: space-between;
	margin: 30px;
	padding: 80px;
	border: 1px solid #e1e1e1;
}

#form-details form{
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
	width: 100%;
	padding: 12px 15px;
	outline: none;
	margin-bottom: 20px;
	border: 1px solid #e1e1e1;
}

#form-details form button container{
	background-color: #088178;
	color: #fff;
}

#form-details .people div{
	padding-bottom: 25px;
	display: flex;
	align-items: flex-start;
}

#form-details .people div img{
	width: 65px;
	height: 65px;
	object-fit: cover;
	margin-right: 15px;
}

#form-details .people div p{
	margin: 0;
	font-size: 13px;
	line-height: 25px;
}

#form-details .people div p span{
	display: block;
	font-size: 16px;
	font-weight: 600;
	color: #000;
}


/*footer----------------------------------------------------------------------------------------------------------------*/
.col_white_amrc { color:#088178;}
footer { width:100%; background-color:rgb(221, 235, 232); min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:black; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:black;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:rgb(46, 26, 26); margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:black; border:1px solid black; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}