
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce wibsite- Shopping Cart</title>
    <!--link o css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleSp.css' %}">
    <link rel="stylesheet" href="{% static 'Admin/css/bootstrap.min.css' %}">
    <!--box icons-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!--footer link---------------------------------------------------------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!------------------------------------------------------------------->
    
</head>
<body>
    <!--header-->
    <header>
        <!--nav-->
        <div class="nav container">
            <a class="logo">
                <h4 style="color:crimson ;font-family: 'Oleo Script', cursive;  ">Fyonka Store</h4>
            </a>
            <a href="/Home" class="logo">
                Home
            </a>
            <a href="/products" class="logo">
                Products
            </a>
            <a href="/con1" class="logo">
                Contact us
            </a>
            <a href="/signup" class="logo">
                Sign up
            </a>
            <!--cart icon-->
            <i class='bx bx-cart' id="cart-icon"></i>
            <!--cart-->
            <div class="cart">
                <h2 class="cart-title"> Your Cart</h2>
                <!--content-->
                <div class="cart-content">
                    
                </div>
                <!-- total-->
                <div class="total">
                    <div class="total-title">Total</div>
                    <div class="total-price">$0</div>
                </div>
                <!--buy button-->
                <button type="button" class="btn-buy"> Buy Now</button>
                <!--close cart-->
                <i class='bx bx-x' id="close-cart"></i>
            </div>

        </div>
    </header>


    
    <section id="prodetails">
        {%block content%}
        
        
        {%endblock%}


    </section>
    <section class="shop container">
        <h2 class="section-title">Shop Products</h2>
        <!--content-->
        <div class="shop-content">
            <!--b1-->
            <div class="product-box">
                <img src="{% static 'img/1.jpg' %}" alt="" class="product-img">
                <h2 class="product-title">crochet slipper</h2>
                <span class="price">$25</span>
                <i class='bx bx-cart add-cart'></i>
            </div>
            <!--b2-->
            <div class="product-box">
                <img src="{% static 'img/2.jpg' %}" alt="" class="product-img">
                <h2 class="product-title">Crochet Half Boot</h2>
                <span class="price">$35</span>
                <i class='bx bx-cart add-cart'></i>
            </div>

        
            <!--b3-->
            <div class="product-box">
                <img src="{% static 'img/3.jpg' %}" alt="" class="product-img">
                <h2 class="product-title">Crochet blouse with Sunflower print </h2>
                <span class="price">$150</span>
                <i class='bx bx-cart add-cart'></i>
            </div>
            <!--b4-->
            <div class="product-box">
                <img src="{% static 'img/4.jpg '%}" alt="" class="product-img">
                <h2 class="product-title">Crochet Bag</h2>
                <span class="price">$50</span>
                <i class='bx bx-cart add-cart'></i>
            </div>
        </div>    

    </section>


    <!--footer------------------------------------------------------------------------------------------------>
    <footer class="footer">
        <div class="container bottom_border">
        <div class="row">
        <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Contact As</h5>
    
        <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
        <p><i class="fa fa-phone"></i>  +91-9999878398  </p>
        <p><i class="fa fa fa-envelope"></i> info@example.com  </p>
        
        
        </div>
        
        
        <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">My Account</h5>
      
        <ul class="footer_ul_amrc">
        <li><a href="#">Sign in</a></li>
        <li><a href="#">View Cart</a></li>
        <li><a href="#">My Wishlist</a></li>
        <li><a href="#">Track My Order</a></li>
        <li><a href="#">Help</a></li>
        </ul>
    
        </div>
        
        
        <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">About </h5>
    
        <ul class="footer_ul_amrc">
        <li><a href="#">About As</a></li>
        <li><a href="#">Delivery Information</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Contact Us</a></li>
       
        </ul>
       
        </div>
        
        
        <div class=" col-sm-4 col-md  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
        
        
        <ul class="footer_ul2_amrc">
        <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
        <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
        <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
        </ul>
       
        </div>
        </div>
        </div>
        
        
        <div class="container">
        
       
       
        
        <ul class="social_footer_ul">
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
       
        </div>
        
        </footer>
        
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        


    
    <!-- link to js-->
    <script src="{% static 'main.js' %}"></script>
</body>
</html>